/* ----- Colors ----- */

$grey: #F3F3F3;
$black70: #494949;
$black50: #797979;
$blue: #2D2D44;

/* ----- Media queries ----- */

$mobile: 820px;
$tablet: 1025px;
$desktop: 1440px;

/* ----- Fonts ----- */

$roboto: Roboto, sans-serif;
