@import 'index';

.author {
  @include flex(space-between, $direction: column);
  @include size(300px, 440px);

  background-color: $bg-green;

  &__inner {
    min-width: 268px;
    min-height: 268px;

    overflow: hidden;
  }
}

.author__photo {
  object-fit: cover;
}

.author__btn-block {
  @include absolute(bottom -15px left 50%);

  padding: 0 !important;

  transform: translate(-18px, -36px);
}

.author__btn {
  font-style: italic;

  &:focus {
    outline: none;
  }
}

mat-card-content {
  @include font(14px, $font: 'Roboto Slab');

  & p {
    @include size(268px, 80px);

    color: $black75;
  }
}

mat-card-title {
  @include font(18px, $weight: 600);

  margin: 10px 0 !important;
}
