@import 'index';

.author {
  max-width: 300px;
  margin-bottom: 40px;

  background-color: $bg-green;
}

.author__photo {
  height: 300px;
}

.author__btn-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.author__btn {
  &:focus {
    outline: none;
  }
}
