@import "index";

::ng-deep .mat-menu-item {
  outline: 0 !important;
}

.menu-btn {
  outline: none;
}

.lang-icon {
  @include flex(center);

  width: 100%;

  margin: 5px 0;
}

.group-btn {
  @include flex($wrap: nowrap);

  width: 100%;

  &__item {
    flex-basis: 33%;
  }
}
