@import "index";

::ng-deep .mat-menu-panel {
  min-width: 50px !important;
}

::ng-deep .mat-menu-content {
  padding: 0 !important;
}

::ng-deep .mat-menu-item {
  outline: 0 !important;
}

.header {
  background-color: $grey;
  @include headerBoxShadow;
  .wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include size(80%, 100%);
    .logo {
      @media screen and (max-width: $mobile) {
        @include size(25px);
      }
      @media screen and (max-width: $tablet) {
        @include size(30px);
      }
      @media screen and (max-width: $desktop) {
        @include size(35px);
      }
      @media screen and (min-width: $desktop) {
        @include size(40px);
      }
    }
    .nav {
      display: flex;
      .menu {
        display: flex;
        list-style: none;
        align-items: center;
        margin: 0;
        &__item {
          margin: 0 20px;
          a {
            font-family: $roboto;
            color: $black70;
            font-size: 18px;
            font-weight: 500;
            text-decoration: none;
            padding: 10px;
            &:hover:not(.current-page) {
              @include hoverInsetBorder;
            }
          }
        }
      }
      .lang-btn {
        outline: none;
        color: $black70;
      }
      @media screen and (max-width: $tablet) {
        display: none;
      }
    }
    .mobile-menu {
      @media screen and (max-width: $tablet) {
        display: block;
      }
      @media screen and (min-width: $tablet) {
        display: none;
      }
    }
  }
  @media screen and (max-width: $mobile) {
    height: 45px;
  }
  @media screen and (min-width: $tablet) {
    height: 60px;
  }
  @media screen and (min-width: $desktop) {
    height: 75px;
  }
}

.current-page {
  color: black !important;
  position: relative;
  &::after {
    content: '';
    @include size(100%, 2px);
    @include underline(black);
  }
}
