<header class="header">
  <div class="wrapper">
    <img class="logo" src="./../../../../assets/icons/logo.svg" alt="Logo">
    <app-mobile-menu class="mobile-menu"></app-mobile-menu>
    <nav class="nav">
      <ul class="menu">
        <li class="menu__item"><a href="">{{ labels.home | uppercase }}</a></li>
        <li class="menu__item"><a href="">{{ labels.writers | uppercase }}</a></li>
        <li class="menu__item"><a href="">{{ labels.team | uppercase }}</a></li>
        <li class="menu__item"><a href="">{{ labels.worklog | uppercase }}</a></li>
      </ul>
      <button class="lang-btn" mat-icon-button [matMenuTriggerFor]="beforeMenu">
        <mat-icon>language</mat-icon>
      </button>
      <mat-menu class="lang-menu" #beforeMenu="matMenu" xPosition="before">
        <button class="lang-menu__item" mat-menu-item *ngFor="let lang of languages">
          {{ lang | uppercase }}
        </button>
      </mat-menu>
    </nav>
  </div>
</header>
