<header class="header">
  <div class="wrapper">
    <div class="logo__outer" (click)="goHome()">
      <img class="logo" src="./../../../../assets/icons/logo.svg" alt="Logo">
      <span class="logo__title">{{'header.nav.title' | translate}}</span>
    </div>
    <app-mobile-menu class="mobile-menu"></app-mobile-menu>
    <nav class="nav">
      <ul class="menu">
        <li class="menu__item"><a [routerLink]="['home', this.languageService.language]">{{'header.nav.home' | translate}}</a></li>
        <li class="menu__item"><a [routerLink]="['home', this.languageService.language, 'authors']">{{'header.nav.writers' | translate}}</a></li>
        <li class="menu__item"><a [routerLink]="['home', this.languageService.language,'team']">{{'header.nav.team'| translate}}</a></li>
        <li class="menu__item"><a [routerLink]="['home', this.languageService.language,'worklog']">{{'header.nav.worklog' | translate}}</a></li>
      </ul>
      <button class="lang-btn" mat-icon-button [matMenuTriggerFor]="beforeMenu">
        <mat-icon>language</mat-icon>
      </button>
      <mat-menu class="lang-menu" #beforeMenu="matMenu" xPosition="before">
        <button class="lang-menu__item" mat-menu-item data-language="en" (click)="clickHandler($event)">EN</button>
        <button class="lang-menu__item" mat-menu-item data-language="ru" (click)="clickHandler($event)">RU</button>
        <button class="lang-menu__item" mat-menu-item data-language="be" (click)="clickHandler($event)">BE</button>
      </mat-menu>
    </nav>
  </div>
</header>
