<div class="container">
  <div class="container__left">
  
    <div class="personal">
      <h2 class="personal__name">Name Surname</h2>
      <span class="personal__subtitle">Tiltle: lorem ipsum dolor sit amet</span>
      <div class="personal__date">
        <time class="born" datetime="01.01.2000">01.01.2000</time> -
        <time class="die" datetime="01.01.2020">01.01.2020</time>
      </div>
    </div>

    <div class="biography">
      <div class="title">
        <span class="title__icon">#</span>
        <h3 class="title__text">Biography</h3>
      </div>
      <app-timeline></app-timeline>
    </div>

    <div class="works">
      <div class="title">
        <span class="title__icon">#</span>
        <h3 class="title__text">Works</h3>
      </div>

      <table mat-table [dataSource]="dataSource" class="table mat-elevation-z8">

        <!-- year -->
        <ng-container matColumnDef="year">
          <th mat-header-cell *matHeaderCellDef>Year</th>
          <td mat-cell *matCellDef="let element"> {{element.year}} </td>
        </ng-container>

        <!-- title -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Title</th>
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <div class="places">
      <div class="title">
        <span class="title__icon">#</span>
        <h3 class="title__text">Significant places</h3>
      </div>

      <div class="map">
        <app-map></app-map>
      </div>
    </div>
  
  </div>

  <div class="container__right">

  </div>
</div>