@import "index";

$main-color: rgba(0,0,0,0);

.sliderAuthors {
	width: 350px;
	height: 512px;
	margin: 0 auto;
}

.carousel-control {
	position: absolute;
	top: 543px;
	width: 27%;
	font-size: 20px;
	color: $main-color;
	background-color: $main-color;
	filter: 0;
	opacity: 1;
	text-shadow: 0 1px 1px rgba(0,0,0,1);
}

.carousel-inner>.item>a>img,
.carousel-inner>.item>img,
.img-responsive,
.thumbnail a>img,
.thumbnail>img {
	display: block;
	width: 350px;
	height: 512px;
}

.carousel-control.right,
.carousel-control.left {
	background-image: none;
}


@media screen and (min-width: 768px) {
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-next,
  .carousel-control .icon-prev {
    top: 10px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    margin-top: -10px;
    font-size: 15px;
	}
}

.carousel-indicators {
	left: 30%;
	bottom: -66px;
	width: 100%;

  z-index: 1;
}

.glyphicon-chevron-left,
.glyphicon-chevron-right {
  color: $bg-purple;
  top: 12px;
}

.carousel-indicators li {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0px 10px;
	text-indent: -999px;
	cursor: pointer;
	background-color: #C4C4C4;
	border: 1px solid transparent;
	border-radius: 10px;
}

.carousel-indicators .active {
	width: 10px;
	height: 10px;
	margin: 0px 10px;
	background-color: $main-color;
}
