<div class="container">
  <div id="sliderAuthors" class="carousel slide sliderAuthors" data-ride="carousel">
    <!-- Indicators -->
    <!-- <ol class="carousel-indicators">
      <li data-target="#sliderAuthors" data-slide-to="0" class="active"></li>
      <li data-target="#sliderAuthors" data-slide-to="1"></li>
      <li data-target="#sliderAuthors" data-slide-to="2"></li>
    </ol> -->

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active sliderAuthors--item" *ngFor="let img of images; let idx = index">
        <img class="carousel--img" [src]="img" alt="Photo of author {{idx}}">
      </div>

      <!-- <div class="item sliderAuthors--item">
        <img class="carousel--img" src="../../../../assets/images/5. yanka kupala/yanka-kupala2.jpg" alt="Photo of author">
      </div>

      <div class="item sliderAuthors--item">
        <img class="carousel--img" src="../../../../assets/images/5. yanka kupala/yanka-kupala3.jpg" alt="Photo of author">
      </div> -->
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#sliderAuthors" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#sliderAuthors" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
