<button mat-raised-button class="button-1">
  Learn more <mat-icon>arrow_right_alt</mat-icon>
</button>

<button mat-button class="button-2">
  Meet out team
</button>

<ul class="menu">
  <li class="menu__item"><a>HOME</a></li>
</ul>

<button class="lang-btn" mat-icon-button>
  <mat-icon>language</mat-icon>
</button>

<button mat-icon-button class="search-btn">
  <mat-icon>search</mat-icon>
</button>

<button class="author__btn" mat-button>Learn more</button>

<button mat-icon-button class="dotted">
  <mat-icon>more_horiz</mat-icon>
</button>

<button class="youtube">Watch video
  <img class="youtube-icon" src="../../../../assets/icons/logo_youtube.svg" alt="youtube logo">
</button>

