@import 'index';


.wrapper {
  @include size(100%);
  @include font($font: 'Roboto Slab');

  margin-bottom: 1rem;

  box-shadow: inset 0 8px 8px -6px  $black25;
  background-color: #FDFFF7;

  &__inner {
    @include flex($direction: column);

    max-width: $lg;

    margin: 0 auto;
    padding: 0 75px;

    @media screen and (max-width: $md) {
      padding: 0 2rem;
    }
  }
}

.wrapper-head {
  @include size(100%, 90px);
  @include relative(top 0 left 0);
  @include flex(flex-start, center);

  margin-top: 5%;

  @media screen and (max-width: $lg) {
    @include size(auto);

    margin-bottom: 0;
    margin-top: 20px;

    text-align: center;
  }

  &:before {
    @include size(4px, 90px);
    @include absolute(top 0 left -75px);

    background: black;
    content: '';

    @media screen and (max-width: $xl) {
      visibility: hidden;
    }
  }

  &__header {
    margin: 0;

    @media screen and (min-width: $xs) {
      @include font(32px);
    }

    @media screen and (min-width: $sm) {
      @include font(36px);
    }

    @media screen and (min-width: $md) {
      @include font(40px);
    }

    @media screen and (min-width: $lg) {
      @include font(44px);
    }

    @media screen and (min-width: $xl) {
      @include font(48px);
    }
  }
}

.worklog {
  margin: 2rem 0;
}

h3 {
  @include size(318px, 30px);

  padding-left: 1rem;
  margin-bottom: 0;

  line-height: 30px;

  clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
  background: $bg-purple;
  color: white;
}

table {
  @include size(100%, auto);
  @include font($font: 'Roboto Slab');

  @media screen and (min-width: $lg) {
    @include size(100%, auto);
  }

  & th {
    font-size: 14px;

    background: $bg-grey !important;
  }
}

.mat-header-cell {
  font-weight: 700;

  color: $bg-purple;
}

tr:nth-child(even) {
  //background-color: $bg-green;
}

td:nth-child(even), th:nth-child(even) {
  text-align: center;
}

tr.mat-footer-row {
  font-weight: bold;
}

.mat-column-time{
  width: 150px !important;
}
