<h2>{{'page.worklog.header' | translate}}</h2>

<div *ngFor="let developer of worklog">
  <h3>{{developer.name | translate}}</h3>
  <table mat-table [dataSource]="developer.works" class="mat-elevation-z8">
    <ng-container matColumnDef="feature">
      <th mat-header-cell *matHeaderCellDef>Feature</th>
      <td mat-cell *matCellDef= "let work;">{{work.feature}}</td>
    </ng-container>

    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef>Time spent (hours)</th>
      <td mat-cell *matCellDef = "let work;">{{work.time}}</td>
    </ng-container>

   <tr mat-header-row *matHeaderRowDef="columns"></tr>
   <tr mat-row *matRowDef="let row; columns: columns"></tr>
  </table>
</div>

