@import "index";

.footer {
  background-color: $blue;
  @include flexRowCenter;
  @include size(100%, 80px);
  @include footerBoxShadow;
  color: white;
  font-family: $roboto;
  font-size: 20px;
  .inscription {
    @include flexRowCenter;
    .symbol {
      font-weight: bold;
    }
    .heart {
      width: 20px;
      height: 20px;
      background-image: url(./../../../../assets/icons/heart.svg);
      background-size: cover;
      margin: 0 5px;
      cursor: pointer;
      transition: all .8s ease-in-out;
      &:hover {
        transform: scale(1.5);
      }
    }
  }
  @media screen and (max-width: $tablet) {
    height: 50px;
  }
}
