:host {
  display: flex;
  justify-content: space-around;

  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;

    &__color {
      display: block;
      width: 95px;
      height: 95px;
      border-radius: 50%;
    }
  }
}