@import "index";

html, body {
  @include size(100%);

  box-sizing: border-box;

  padding: 0;
  margin: 0;
}

* {
  box-sizing: inherit;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: $bg-grey;
}

::-webkit-scrollbar-thumb {
  background: $bg-purple;
}

::-webkit-scrollbar-thumb:hover {
  background: lighten($bg-purple, 25%);
}
